<%= form_for [@post, @post.comments.build] do |f| %>
    <p>
        <%= f.label :autor %>
        <%= f.text_field :name, placeholder: "Podpisz się" %></br>
        <%= f.label :tekst %>
        <%= f.text_area(:body, cols: 60, class: "textarea", placeholder: "Napisz coś") %></br>
        <%= f.button "Skomentuj", class: "btn btn-info" %>
    </p>
<% end %>