<div class="body-wrapper" style="padding-bottom: 0px; border-bottom: 1px solid #d6dce0; width: 550px">
	<h2><%= @post.title %></h2> </br>
	<%= @post.body %> </br>
	<% if @post.image_url != nil %>
		<%= image_tag @post.image_url(:thumb).to_s %>
	<% end %>
	<%= render @post.comments %>
	<%= render 'comments/form' %>
</div>