<div class="row">
    <div class="col-xs-3 col-md-2"></div>
    <div class='title col-xs-9 col-md-3'>
        <%= link_to "Orkiestra OSP Kurowice", root_path, class: "h1" %>
    </div>
    <div class="topmenu col-xs-12 col-md-5">
        <%= link_to 'Strona główna', landing_path, class: "glyphicon glyphicon-home" %></li>
        <%= link_to "Aktualności", posts_path, class: "glyphicon glyphicon-music" %></li>
        <%= link_to "Galeria", gallery_path, class: "glyphicon glyphicon-picture" %></li>
        <%= link_to "Zespół", members_path, class: "glyphicon glyphicon-eye-open" %></li>
        <%= link_to "Kontakt", contact_path, class: "glyphicon glyphicon-envelope" %></li>
        <%= link_to "Dołącz do nas!", join_path, class: "glyphicon glyphicon-plus" %></li>
    </div>
</div>