<!DOCTYPE html>
<html>
    <head>
          <title>Orkiestra OSP Kurowice</title>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
          <%= csrf_meta_tags %>
    </head>
<body>
    <%= render '/layouts/nav' %>
    <div class="images">
  		<%= image_tag "band.jpg", id: "img" %>
 	</div>
  	<div class="row">
  	    <div class="col-xs-0 col-md-2"></div>
        <div class='title col-xs-12 col-md-8'>
  		    <div class="body-wrapper">
                <%= yield %>
            </div>
        </div>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>
