<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body-wrapper">
  <div class='title'>
  <h1 style="padding: 0px">Orkiestra OSP Kurowice</h1>
  </div>
        <div class="topmenu">
    <%= link_to 'Strona główna', landing_path %></li>
    <%= link_to "Aktualności  ", posts_path %></li>
    <%= link_to "Galeria  ", gallery_path %></li>
    <%= link_to "Skład zespołu  ", members_path %></li>
    <%= link_to "Dołącz do nas  !", join_path %></li>
    <%= link_to "Kontakt", contact_path %></li>
    </div>
  				<%= image_tag "band.jpg", class: "img" %>
  <nav class="header">
    <div class="container">
  </div>
  </nav>
  <%= yield %>

  <div class="footer">
    <p>Nam strzelać nie kazano. - Wstąpiłem na działo
I spójrzałem na pole; dwieście armat grzmiało.</p>
<p>Artyleryi ruskiej ciągną się szeregi,
Prosto, długo, daleko, jako morza brzegi;</p>
    <strong><%= link_to "Zarządaj stroną", admin_path %></strong>
    </div>
</div>
</div>
</body>
</html>
