<!DOCTYPE html>
<html>
    <head>
          <title>Orkiestra OSP Kurowice</title>
          <%= stylesheet_link_tag    'application', media: 'all' %>
          <%= javascript_include_tag 'application' %>
          <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
          <%= csrf_meta_tags %>
    </head>
    <body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="row">
        <div class="col-xs-12">
            <%= render '/layouts/flash', flash: flash %>
        </div>
    </div>
    <div id='top'>
    <%= render '/layouts/nav' %>
    <div class="images">
  		<%= image_tag "band.jpg", id: "img" %>
 	</div>
 	</div>
	<div class="row">
  	    <div class="col-xs-0 col-md-1 col-lg-2 col-xlg-3"></div>
        <div class='title col-xs-12 col-md-9 col-lg-8 col-xlg-6'>
  		    <div class="body-wrapper">
  		        <div class="row" style="margin-left: 10px">
                    <div class='title col-xs-9 col-md-9 col-lg-8'>
                        <%= yield %>
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-3">
                        <%= render 'layouts/youtube' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render 'layouts/footer' %>
    </body>
</html>
